<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Automatización RH</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="logo">
      <h1>Automatización RH</h1>
    </div>
  </header>

  <main>
    <div class="container">
      <p class="subtitle">Selecciona los archivos y haz clic en "Iniciar Proceso".</p>
      <form id="process-form" action="{{ url_for('start_process') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Archivo de FORM Data (Excel).</label>
          <input type="file" name="form_data_file" />
        </div>

        <div class="form-group">
          <label>Archivo de Base Local (Excel).</label>
          <input type="file" name="local_db_file" required />
        </div>

        <button type="submit" class="btn primary">Iniciar Proceso</button>
      </form>
      
      <!-- Loader -->
      <div id="loader" class="loader-overlay">
        <div class="loader"></div>
        <p>Por favor, espera mientras procesamos tus archivos...</p>
      </div>
    </div>
  </main>

  <footer>
    <p>&copy; 2025 Automatización RH. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
